<form method="post" id="payu-payment-form"  action="https://test.payu.in/_payment">
<span>{{hash}}</span>    
    <input type="hidden" name="hash" value={{hash}}/>
    <input type="hidden" name="key" value="6lBOiuPp"/>
    <input type="hidden" name="txnid" value="12345"/>
    <input type="hidden" name="amount" value="10.2" />
    <input type="hidden" name="productinfo" value="test"/>
    <input type="hidden" name="firstname" value="bhuvana" />
    <input type="hidden" name="email" value="rsnk2013@gmail.com" />
    <input type="hidden" name="surl" value="http://localhost/success"/>
    <input type="hidden" name="furl" value="http://localhost/fail"/>
        <input type="hidden" name="service_provider" value="payu_paisa"/>

    
    <button class="" type="submit" formtarget="_blank" >Buy</button>
</form>